{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="text-center mt-5">

<h1>🤖 AI Powered Smart Inventory Management System</h1>

<p class="lead">
Manage Inventory, Predict Demand using AI, View Analytics and Generate Reports.
</p>

<div class="mt-4">

<a href="{% url 'product_list' %}" class="btn btn-primary btn-lg m-2">
📦 Inventory
</a>

<a href="{% url 'analytics' %}" class="btn btn-success btn-lg m-2">
📊 Analytics
</a>

<a href="{% url 'reports' %}" class="btn btn-warning btn-lg m-2">
📄 Reports
</a>

<a href="{% url 'about' %}" class="btn btn-info btn-lg m-2">
ℹ️ About
</a>

</div>

</div>

{% endblock %}